---
layout: page
title: "Recettes low carb"
filter_title: "Recettes"
description: "Mes recettes low carb (recettes faibles en glucides). Index par catégories."
page_h1: Index
page_h3: "Mes recettes low carb"
body_id: "home"
---

<section id="index">
  <h2>Index</h2>

  <!-- Récupère toutes les pages du site qui utilisent le layout "recipe" -->
  {% assign all_recipes = site.pages | where: "layout", "recipe" %}

    <!-- Vérifie si 'all_recipes' contient des éléments avant de les regrouper et trier -->
  {% if all_recipes.size > 0 %}
    <!-- Regroupement des recettes par 'recipe_group' après avoir récupéré les pages -->
    {% assign grouped = all_recipes | group_by: "recipe_group" | sort: "name" %}

    <!-- Inclut le fichier des recettes par groupe en passant les variables 'grouped' et 'hidden_tags' -->
    {% include recipes-index.html grouped=grouped hidden_tags=hidden_tags %}
  {% else %}
    <p>Aucune recette disponible.</p>
  {% endif %}

  <hr class="my-4">

  <!-- Affiche la date de dernière mise à jour du site -->
  <div class="text-center muted">
    Dernière mise à jour le {{ site.time | date: "%d/%m/%Y" }}
  </div>
</section>

