body
/* Heritage: all the tags in the body tag take this style. */
{
	background-color: #999999;
	color: #0B0B61; 
	font-size: 1em;
	text-align: justify;
	width: auto;
	margin: auto;
	overflow: scroll;
	word-wrap: break-word;
	min-width: 600px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 110%
}

footer
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

#global_box, #navigation ul, #box
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

/*
#background
{
	background-image: url("images/background_h_big.png");
}
*/

section, footer, #navigation, header
{
	border: 3px grey outset;
	background-color: #eeecdd;
	border-radius: 10px;
	box-shadow: 6px 6px 5px black;
	margin: 10px;
}

section
{
	min-width: 600px;
}

#menu
{
	position: fixed;
	top:70px;
	right:0px;
}

p
{
	padding: 0px 20px 0px 20px;
}

ul
{
	padding: 10px 20px 0px 20px;
	margin: 20px;
}

li
{
	padding: 10px 20px 0px 20px;
}

a:visited
{
	color:#000000;
}

a:hover
{
	color:#3ADF00;
}

h1
{
	color: #3ADF00;
	font-weight : bold;
	font-size: 2em;
	text-align: center;
	background-color: rgb(207,207,186);
	border-radius: 10px;/*round border.*/
	padding: 10px;
	margin: 10px;
}

h2 , #contact a
{
	color: #2ECCFA;
	font-size: 1.5em;
	text-align: center;
	background-color: rgb(207,207,186);
	border-radius: 10px;/*round border.*/
	padding: 10px;
	margin: 10px;
}

h3
{
	margin: 20px;
}

h1 + h3, #bunny
{
	text-align: center;
}

.shadow:hover
{
	box-shadow: 6px 6px 5px black;
	transition: 1s;
}

nav ul
{
	list-style-type: none;
}

section ul
{
	list-style-image: url("images/star.png");
}

.arrow
{
	text-align: right;
}


}

@media all and (max-width: 799px)
{
	body
	{
		font-size: 150%;
	}

	li

	{
		padding: 40px 20px 0px 20px;
	}
}
