<!-- =========================================================
     _includes/footer.html
     Footer global du site

     Contenu :
     - Lien vers les mentions légales
     - Copyright (année automatique)
     - Date de dernière mise à jour du site (build GitHub Pages)
     ========================================================= -->

<footer class="mt-4 py-3 border-top">
  <div class="container site-container text-center small">

    {%- comment -%}
      Footer en ligne :
      - Mentions légales
      - Copyright avec année automatique
      - Date de dernière mise à jour
    {%- endcomment -%}

    <span>
      <a href="{{ site.baseurl }}/mentions.html">
        Mentions légales
      </a>
    </span>

    <span class="mx-2 text-muted">•</span>

    <span>
      © {{ site.time | date: "%Y" }} Laurie Boissay
    </span>

    <span class="mx-2 text-muted">•</span>

    <span class="text-muted">
      Dernière mise à jour :
      {{ site.time | date: "%d/%m/%Y" }}
    </span>

  </div>
</footer>
